/** 以下是全局样式**/
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}


/**
  * auth-form-container是登录和注册的容器
  */
.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

/**
  * media 是指在 屏幕宽度大于600px的时候，就会应用以下样式
  * 也就是说，当屏幕宽度小于600px的时候，就不会应用以下样式
  */ 
@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

/**
  * label就是标志，比如用户名，密码，邮箱等等
  */
label {
  text-align: left;
  padding: 0.25rem 0;
}

/**
  * input输入框
  */
input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
/**
  * button按钮
  cursor: pointer; 鼠标移动到按钮上会变成小手
  */
button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}